<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Tasks</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/static/css/tipsy.css" type="text/css">
</head>

<body>

	<form action="/save_task" method="POST">
		<label> New Task </label>
		<input type="text" name="task_title"></input>
		<input type="submit" value="Submit"></input>
	</form>
                                                                                                                                                                                    
</body>

</html>